body{
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("cssimages/bglogin.png"); 
}

.container{
  margin: 0 auto;
  width: 100%;
}

.col-lg-12{
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  left: -90px;
}


.row{
  width: 100%;
  min-width: 1349px;

}

.header{
  background-image: url("cssimages/header.png");
  position: absolute;
  top: -5px;
  left: -5px;
  height: 60px;
  width: 110%;
  min-width: 1000px;
  padding: 5px 10px;
}

#logo {
  margin-top: -22px;
  margin-bottom: 5px;
  float: left;
}
#logo img {
  display: block;
  margin: 0 0 0 5px;
}

#logo img:hover {
 transform: scale(1.1);
  -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

a.nav:link {
    color: white;
}

a.nav:visited {
    color: white;
}

a.nav:hover {
    color: black;
    text-decoration: none;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
   -ms-transition: color .5s linear;
   -o-transition: color .5s linear;
   transition: color .5s linear;
}

a.nav:active {
    color: white;
}

.booking{
  width: 150px;
  height: 40px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 20px;
  color: white;
  right: 350px;
  top: 7px;
    overflow: hidden;
    white-space: nowrap;
  position: absolute; 
}

.rooms{
  width: 170px;
  height: 40px;
  min-width: 100px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 20px;
  color: white;
  right: 160px;
  top: 7px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  position: absolute;
}

.log{
  width: 100px;
  height: 40px;
  min-width: 100px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 20px;
  color: white;
  right: 42px;
  top: 7px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  position: absolute;
}

.dp{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 120px;
  left: 100px;
}

h2.fullname{
  font-family: century gothic;
  color: #CFB53B;
  position: absolute;
  top: 110px;
  left: 350px;
}

.otherinfo{
  width: 768px;
  height: 300px;
  position: absolute;
  top: 170px;
  left: 350px;
  padding: 20px;
}

h4.user{
  font-family: century gothic;
  color: #CFB53B;
  padding: 5px;
}


.footer{
  background-color: black;
  height: 250px;
  width: 100%;
  min-width: 1000px;
  bottom: -1000px;
  left: 0px;
  position: absolute;
  border-top: solid;
  border-color: #CFB53B;
  border-width: 1px;
}

.footerinfo{
  border-style: solid;
  border-color: white;
  height: 250px;
  padding: 20px;
}

.aboutus{
  top: 21px;
  left: 250px;
  position: absolute;
}

.sponsors{
  top: 21px;
  left: 650px;
  position: absolute;
}

h3.footerheaders{
  font-family: century gothic;
  color: #CFB53B;
}

h5.info{
  font-family: century gothic;
  color: #CFB53B;
}