
.footerinfo{
  height: 250px;
  padding: 20px;
}

.aboutus{
  top: 21px;
  left: 250px;
  position: absolute;
}

.sponsors{
  top: 21px;
  left: 650px;
  position: absolute;
}

h3.footerheaders{
  font-family: century gothic;
  color: #CFB53B;
}

h5.info{
  font-family: century gothic;
  color: #CFB53B;
}

.vikings{
  height: 100px;
  width: 100px;
  position: absolute;
}