
#logo {
  margin-top: -22px;
  margin-bottom: 5px;
  float: left;
}
#logo img {
  display: block;
  margin: 0 0 0 5px;
}

#logo img:hover {
 transform: scale(1.1);
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 transition: all .5s;
}