body{
	background-color: black;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container{
	margin: auto;
	width:100%;
}

.header{
	background-image: url("cssimages/header.png");
	position: absolute;
	top: -5px;
	left: -5px;
	height: 60px;
	width: 120%;
	min-width: 1000px;
	padding: 5px 10px;
}

#logo {
  margin-top: -22px;
  margin-bottom: 5px;
  float: left;
}
#logo img {
  display: block;
  margin: 0 0 0 5px;
}

.booking{
	width: 150px;
	height: 40px;
	background-color: #CFB53B;
	border-style: hidden;
	border-radius: 5px;
	font-family: century gothic;
	font-size: 20px;
	color: white;
	position: absolute;
	right: 550px;
	top: 12px;
}

.gif{
	font-family: century gothic;
	color: #CFB53B;
	position: absolute;
	top: 20px;
}

.slideshow{
	position: absolute;
	top: 55px;
	left: 0px;
	height: 768px;
	width: 100%;
	.transition(.2s ease-in-out left);
}