body{
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("cssimages/bglogin.png"); 
}

.container{
  margin: 0 auto;
  width: 100%;
}

.col-lg-12{
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  left: -90px;
}


.row{
  width: 100%;
  min-width: 1349px;

}

.header{
  background-image: url("cssimages/header.png");
  position: absolute;
  top: -5px;
  left: -5px;
  height: 60px;
  width: 110%;
  min-width: 1000px;
  padding: 5px 10px;
}

#logo {
  margin-top: -22px;
  margin-bottom: 5px;
  float: left;
}
#logo img {
  display: block;
  margin: 0 0 0 5px;
}

#logo img:hover {
 transform: scale(1.1);
  -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

a.nav:link {
    color: white;
}

a.nav:visited {
    color: white;
}

a.nav:hover {
    color: black;
    text-decoration: none;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
   -ms-transition: color .5s linear;
   -o-transition: color .5s linear;
   transition: color .5s linear;
}

a.nav:active {
    color: white;
}

.booking{
  width: 150px;
  height: 40px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 20px;
  color: white;
  right: 350px;
  top: 7px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute; 
}

.rooms{
  width: 170px;
  height: 40px;
  min-width: 100px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 20px;
  color: white;
  right: 160px;
  top: 7px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  position: absolute;
}

.log{
  width: 100px;
  height: 40px;
  min-width: 100px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 20px;
  color: white;
  right: 42px;
  top: 7px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  position: absolute;
}


h1.topLabel{
    font-family: century gothic;
    top: 40px;
    left: 100px;
    position: absolute;
    color: white;
}

h5.subLabel{
    font-family: century gothic;
    top: 100px;
    left: 100px;
    position: absolute;
    color: white;
}

h5.username{
 font-family:  century gothic;
 color: black;
 position: absolute;
 top: 100px;
 left: 260px;
 color: white;
}

h5.pass{
 font-family:  century gothic;
 color: black;
 position: absolute;
 top: 190px;
 left: 260px;
 color: white;
}

h5.confpass{
 font-family:  century gothic;
 color: black;
 position: absolute;
 top: 280px;
 left: 260px;
 color: white;
}

h5.fname{
 font-family:  century gothic;
 color: black;
 position: absolute;
 top: 100px;
 left: 550px;
 color: white;
}

h5.lname{
 font-family:  century gothic;
 color: black;
 position: absolute;
 top: 190px;
 left: 550px;
 color: white;
}

h5.email{
 font-family:  century gothic;
 color: black;
 position: absolute;
 top: 280px;
 left: 550px;
 color: white;
}

h5.gender{
 font-family:  century gothic;
 color: black;
 position: absolute;
 top: 100px;
 left: 850px;
 color: white;
}


input.username {
  border: 1px solid #c4c4c4;
  font-family: century gothic;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  margin: 10px;
  width: 230px;
  height: 30px;
  position: absolute;
  top: 130px;
  left: 250px;
}

input.password {
  border: 1px solid #c4c4c4;
  font-family: century gothic;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  margin: 10px;
  width: 230px;
  height: 30px;
  position: absolute;
  top: 220px;
  left: 250px;
}

input.confirmpassword {
  border: 1px solid #c4c4c4;
  font-family: century gothic;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  margin: 10px;
  width: 230px;
  height: 30px;
  position: absolute;
  top: 320px;
  left: 250px;
}

input.firstnme {
  border: 1px solid #c4c4c4;
  font-family: century gothic;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  margin: 10px;
  width: 230px;
  height: 30px;
  position: absolute;
  top: 130px;
  left: 550px;
}

input.lastnme {
  border: 1px solid #c4c4c4;
  font-family: century gothic;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  margin: 10px;
  width: 230px;
  height: 30px;
  position: absolute;
  top: 220px;
  left: 550px;
}

input.emadd {
  border: 1px solid #c4c4c4;
  font-family: century gothic;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  margin: 10px;
  width: 230px;
  height: 30px;
  position: absolute;
  top: 320px;
  left: 550px;
}

.containgender{
  position: absolute;
  left: 850px;
  top: 140px;
  height: 200px;
  width: 200px;
}

span.gendlabel{
  color: white;
  font-family: century gothic;
  margin: 10px;
}

.submit{
  width: 130px;
  height: 40px;
  min-width: 100px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 17px;
  color: white;
  left: 870px;
  top: 380px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  position: absolute;
}

.submit:hover {
    color: black;
    text-decoration: none;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
   -ms-transition: color .5s linear;
   -o-transition: color .5s linear;
   transition: color .5s linear;
}

.cancel{
  width: 130px;
  height: 40px;
  min-width: 100px;
  background-color: #CFB53B;
  border-style: hidden;
  border-radius: 5px;
  font-family: century gothic;
  font-size: 17px;
  color: white;
  left: 1020px;
  top: 380px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  position: absolute;
}

.cancel:hover {
    color: black;
    text-decoration: none;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
   -ms-transition: color .5s linear;
   -o-transition: color .5s linear;
   transition: color .5s linear;
}


.footer{
  background-color: black;
  height: 250px;
  width: 100%;
  min-width: 1000px;
  bottom: -750px;
  left: 0px;
  position: absolute;
  border-top: solid;
  border-color: #CFB53B;
  border-width: 1px;
}

img.divide{
  position: absolute;
  top: 150px;
  left: 600px;
  width: 20px;
}

.register{
  width: 100%;
  height: 450px;
  top: 50px;
  position: absolute;
}

.footerinfo{
  height: 250px;
  padding: 20px;
}

.aboutus{
  top: 21px;
  left: 250px;
  position: absolute;
}

.sponsors{
  top: 21px;
  left: 650px;
  position: absolute;
}

h3.footerheaders{
  font-family: century gothic;
  color: #CFB53B;
}

h5.info{
  font-family: century gothic;
  color: #CFB53B;
}

.vikings{
  height: 100px;
  width: 100px;
  position: absolute;
}